@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 280 34% 99%;
      --foreground: 280 69% 2%;
      --muted: 280 16% 88%;
      --muted-foreground: 280 1% 32%;
      --popover: 280 34% 99%;
      --popover-foreground: 280 69% 2%;
      --card: 280 34% 99%;
      --card-foreground: 280 69% 2%;
      --border: 280 13% 91%;
      --input: 280 13% 91%;
      --primary: 280 99% 58%;
      --primary-foreground: 0 0% 100%;
      --secondary: 280 18% 85%;
      --secondary-foreground: 280 18% 25%;
      --accent: 280 18% 85%;
      --accent-foreground: 280 18% 25%;
      --destructive: 8 94% 40%;
      --destructive-foreground: 0 0% 100%;
      --ring: 280 99% 58%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 280 38% 2%;
      --foreground: 280 26% 99%;
      --muted: 280 16% 12%;
      --muted-foreground: 280 1% 68%;
      --popover: 280 38% 2%;
      --popover-foreground: 280 26% 99%;
      --card: 280 38% 2%;
      --card-foreground: 280 26% 99%;
      --border: 280 13% 10%;
      --input: 280 13% 10%;
      --primary: 280 99% 58%;
      --primary-foreground: 0 0% 100%;
      --secondary: 280 17% 8%;
      --secondary-foreground: 280 17% 68%;
      --accent: 280 17% 8%;
      --accent-foreground: 280 17% 68%;
      --destructive: 8 94% 56%;
      --destructive-foreground: 0 0% 100%;
      --ring: 280 99% 58%;
    }
  }

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}



.cssbuttons-io-button {
  background: #000000;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.5em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #000000;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  width: 100%;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.3em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #000000;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #000000;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
